In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer

In [3]:
# Specify the file path
file_path = '/content/drive/MyDrive/capstone/ML/kuesioner_60.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

In [5]:
df

,timestamp,usia,jenis_kelamin,tinggi_badan,berat_badan,aktivitas_fisik,pekerjaan,sarapan_makanan_1,sarapan_makanan_2,sarapan_makanan_3,...,snack_renyah,snack_halus,snack_creamy,snack_kental,snack_digoreng,snack_direbus,snack_dibakar,snack_dikukus,snack_cepat_saji,snack_beli
0,20/05/2023 21:18:27,21,Perempuan,154,55,Ringan,Mahasiswa,20,20,129,...,8,5,3,2,9,6,2,4,Ya,Ya
1,20/05/2023 21:44:42,22,Laki-laki,170,53,Ringan,Mahasiswa,126,40,52,...,8,4,1,1,8,1,1,9,Tidak,Ya
2,20/05/2023 22:06:07,20,Perempuan,158,56,Ringan,Mahasiswa,120,104,94,...,7,4,3,3,6,5,4,5,Ya,Ya
3,20/05/2023 22:24:38,20,Perempuan,155,44,Ringan,Mahasiswa,163,17,131,...,10,1,1,1,5,4,1,5,Tidak,Ya
4,20/05/2023 23:42:32,20,Perempuan,158,40,Ringan,Mahasiswa,19,93,104,...,9,6,4,5,7,2,2,2,Ya,Ya
5,21/05/2023 7:34:04,20,Perempuan,150,45,Sedang,Mahasiswa,135,144,160,...,7,7,7,5,8,7,8,8,Ya,Ya
6,21/05/2023 9:41:14,21,Laki-laki,177,88,Sedang,Mahasiswa,11,40,42,...,7,7,8,8,7,7,7,7,Ya,Ya
7,21/05/2023 9:46:00,19,Laki-laki,160,60,Sedang,Mahasiswa,115,62,16,...,9,10,5,2,10,1,8,1,Ya,Ya
8,21/05/2023 9:50:50,21,Laki-laki,180,70,Berat,POLISI,117,91,64,...,9,8,8,8,8,8,8,8,Tidak,Tidak
9,21/05/2023 10:06:59,26,Laki-laki,160,40,Sedang,Mahasiswa,93,122,159,...,9,8,10,9,9,9,9,9,Tidak,Ya
10,21/05/2023 10:42:09,20,Laki-laki,173,55,Ringan,Mahasiswa,11,57,167,...,10,6,6,7,10,6,6,6,Ya,Ya
11,21/05/2023 11:21:18,21,Laki-laki,171,49,Ringan,Mahasiswa,55,160,155,...,5,5,5,7,8,5,6,5,Ya,Ya
12,21/05/2023 14:01:33,20,Perempuan,156,44,Sedang,Mahasiswa,120,115,118,...,10,4,4,3,9,3,8,4,Ya,Ya
13,21/05/2023 18:25:34,20,Laki-laki,175,55,Sedang,Mahasiswa,135,158,11,...,9,1,1,1,4,7,1,7,Ya,Ya
14,21/05/2023 18:27:01,18,Perempuan,142,36,Ringan,Mahasiswa,122,58,170,...,7,6,5,4,8,6,4,5,Ya,Ya
15,21/05/2023 18:40:40,20,Perempuan,155,39,Ringan,Mahasiswa,104,135,117,...,9,7,5,6,8,9,2,2,Ya,Ya
16,21/05/2023 18:42:01,20,Perempuan,145,40,Ringan,Mahasiswa,11,103,32,...,9,8,8,7,8,8,8,8,Ya,Ya
17,21/05/2023 18:49:32,20,Laki-laki,170,50,Ringan,Mahasiswa,163,122,115,...,9,10,10,9,10,10,9,10,Tidak,Ya
18,21/05/2023 18:54:25,25,Laki-laki,160,50,Sedang,Guru,143,135,130,...,7,4,3,3,7,7,4,5,Ya,Ya
19,21/05/2023 19:02:53,40,Perempuan,162,50,Sedang,PNS,11,12,13,...,10,9,10,10,9,10,9,10,Tidak,Tidak
20,21/05/2023 19:05:55,28,Laki-laki,165,55,Ringan,Staff,11,168,152,...,6,6,6,6,6,6,1,3,Ya,Ya
21,21/05/2023 19:10:22,30,Laki-laki,170,60,Sedang,Guru,115,116,117,...,10,10,10,7,7,9,9,7,Tidak,Tidak
22,21/05/2023 20:02:09,22,Perempuan,150,40,Ringan,Mahasiswa,11,12,13,...,9,8,8,8,8,8,8,9,Tidak,Tidak
23,21/05/2023 20:08:59,40,Laki-laki,160,40,Ringan,PNS,158,159,160,...,8,8,9,7,8,9,8,9,Tidak,Tidak
24,21/05/2023 20:15:41,26,Laki-laki,170,52,Sedang,Guru,153,154,155,...,8,9,7,8,8,9,8,6,Tidak,Tidak
25,21/05/2023 20:20:46,45,Perempuan,150,50,Sedang,Wirausaha,64,65,66,...,10,10,9,9,9,9,10,10,Tidak,Tidak
26,21/05/2023 20:26:15,30,Laki-laki,165,40,Ringan,Guru,139,140,141,...,10,9,10,10,9,9,10,10,Tidak,Tidak
27,21/05/2023 20:37:27,18,Laki-laki,160,55,Ringan,Mahasiswa,164,163,160,...,9,8,10,10,10,9,9,10,Tidak,Tidak
28,21/05/2023 20:42:17,22,Perempuan,150,40,Sedang,Mahasiswa,160,161,125,...,10,10,10,9,10,10,9,10,Tidak,Tidak
29,21/05/2023 20:48:59,29,Perempuan,180,70,Sedang,PNS,163,164,158,...,9,9,10,9,10,9,9,10,Tidak,Tidak
30,21/05/2023 20:54:14,25,Perempuan,163,40,Ringan,Wirausaha,121,122,123,...,8,9,10,10,9,10,9,10,Tidak,Tidak
31,21/05/2023 21:02:01,50,Laki-laki,180,50,Ringan,Wirausaha,50,51,52,...,9,10,9,10,9,10,10,10,Tidak,Tidak
32,21/05/2023 21:08:06,30,Perempuan,160,44,Ringan,Wirausaha,158,159,160,...,9,10,10,8,9,10,9,10,Tidak,Tidak
33,21/05/2023 21:16:23,26,Laki-laki,170,40,Sedang,Guru,163,164,115,...,9,10,9,9,10,10,10,10,Tidak,Tidak
34,21/05/2023 21:43:55,44,Laki-laki,170,50,Ringan,Mahasiswa,21,22,23,...,8,10,9,10,9,10,10,10,Tidak,Tidak
35,21/05/2023 21:47:49,39,Perempuan,150,40,Sedang,Guru,21,22,23,...,9,10,10,10,9,9,10,10,Tidak,Tidak
36,21/05/2023 21:52:08,18,Laki-laki,170,50,Sedang,Mahasiswa,103,100,99,...,10,9,10,9,10,9,10,10,Tidak,Tidak
37,21/05/2023 22:01:18,21,Laki-laki,170,60,Ringan,Mahasiswa,12,11,13,...,9,10,10,8,9,10,10,10,Tidak,Tidak
38,21/05/2023 22:47:08,20,Perempuan,146,40,Ringan,mahasiswa,11,19,144,...,7,7,7,5,4,4,4,6,Ya,Ya
39,21/05/2023 22:52:52,40,Perempuan,160,50,Ringan,Guru,161,160,162,...,10,9,10,9,10,10,9,10,Tidak,Tidak
40,21/05/2023 22:58:38,19,Laki-laki,173,60,Sedang,Mahasiswa,80,82,81,...,8,10,9,10,10,9,10,10,Tidak,Tidak
41,21/05/2023 23:14:28,18,Laki-laki,170,50,Ringan,Mahasiswa,158,160,159,...,10,10,9,7,10,10,10,9,Tidak,Ya
42,21/05/2023 23:19:29,19,Laki-laki,163,40,Ringan,Mahasiswa,153,155,156,...,10,9,9,10,9,8,9,10,Ya,Ya
43,22/05/2023 15:47:56,17,Laki-laki,180,64,Sedang,Siswa,111,73,66,...,10,1,1,1,9,5,8,4,Tidak,Ya
44,22/05/2023 17:50:34,19,Perempuan,158,54,Ringan,Mahasiswa,135,137,9,...,10,1,1,1,10,1,1,1,NaN,Ya
45,22/05/2023 18:29:15,19,Perempuan,155,38,Ringan,Mahasiswa,9,22,132,...,8,6,6,6,9,4,7,5,Ya,Ya
46,22/05/2023 20:33:49,21,Laki-laki,167,63,Sedang,Mahasiswa,117,103,57,...,9,9,1,1,9,1,1,1,Ya,Tidak
47,22/05/2023 20:35:29,20,Perempuan,150,53,Ringan,Mahasiswa,60,25,23,...,1,1,10,10,10,1,6,8,Ya,Tidak
48,22/05/2023 20:38:22,21,Laki-laki,167,55,Sedang,Mahasiswa,119,74,78,...,3,1,2,5,1,6,8,5,Tidak,Ya
49,25/05/2023 15:53:01,20,Perempuan,153,43,Ringan,Mahasiswa,104,60,145,...,7,6,7,6,7,6,6,6,Ya,Tidak
50,26/05/2023 15:44:08,18,Perempuan,145,45,Ringan,Mahasiswa,160,9,22,...,3,5,6,9,8,10,10,4,Ya,Ya
51,26/05/2023 17:29:48,15,Perempuan,150,38,Ringan,pelajar,9,22,162,...,1,1,1,1,1,1,1,1,Ya,Ya
52,26/05/2023 17:33:51,15,Perempuan,165,65,Ringan,pelajar,124,94,119,...,8,7,8,7,7,8,9,8,Ya,Ya
53,26/05/2023 17:36:08,16,Perempuan,150,37,Ringan,siswa,102,120,74,...,7,7,6,6,8,8,8,8,Ya,Ya
54,27/05/2023 16:03:38,21,Laki-laki,175,50,Ringan,mahasiswa,137,65,159,...,8,1,1,1,6,1,1,6,Ya,Tidak
55,27/05/2023 16:21:20,19,Laki-laki,178,56,Sedang,mahasiswa,168,114,120,...,4,1,2,1,4,1,2,1,Ya,Ya
56,27/05/2023 16:35:27,21,Laki-laki,170,50,Ringan,Mahasiswa,158,162,131,...,8,1,1,1,9,8,10,7,Ya,Ya
57,27/05/2023 18:49:38,20,Perempuan,155,45,Ringan,mahasiswa,9,135,120,...,10,6,6,6,10,7,9,7,Tidak,Tidak
58,27/05/2023 19:01:36,23,Laki-laki,168,80,Sedang,Owner Bisnis,121,36,166,...,5,5,5,5,5,5,5,5,Ya,Ya
59,28/05/2023 11:04:09,20,Laki-laki,177,58,Sedang,Polisi,115,163,135,...,7,7,6,5,8,6,8,8,Ya,Ya

# 1. Preprocessing

# *1.1 Reshaping Columns (Food Columns) into Rows*

In this step, we perform data transformation to reshape the user preference data from a wide format to a long format. The original data was collected through a survey and contained multiple columns representing different food items for each meal category (e.g., sarapan_makanan_1, sarapan_makanan_2, etc.). By reshaping these columns into rows, each row represents a single food item for a specific user and meal time, making it easier to analyze and work with.

The process involves the following steps:


1.  **Filterring Relevant Columns** :
 We select the columns that contain user attributes such as age, gender, height, weight, physical activity level, and occupation. These columns provide additional context to the preference data.
2. **Creating User IDs** :
 We assign a unique user ID to each row in the dataset. This identifier helps distinguish individual users and allows us to track their preferences across different meals.
3. **Reshaping Food Columns**: The food columns for each meal category ('sarapan', 'makansiang', 'makanmalam', 'snack') are reshaped to be in rows instead of columns, consolidating all food items into a single column called "makanan"

4. **Extracting Rank (ranking) and Meal Time (waktu_makan)**: The rank information is extracted from the column names to indicate the order of food items consumed. Meal time (waktu_makan) is derived from the column names, such as 'sarapan', 'makansiang', 'makanmalam', and 'snack'

5. **Adding rating column**: The rating column is created and is extracted from the ranking column (if the ranking is 1, the the rate is 5)

6. **Combining Data**: The reshaped food data is combined with the user information data using the 'user_id' column as the common identifier. This is done using the merge() function in pandas.

7. **Sorting and Resetting Index**: The resulting merged data is sorted by 'user_id', 'waktu_makan', and 'ranking' to ensure the proper ordering. The index is then reset to maintain a clean index structure.

In [6]:
user_data = df[["usia", "jenis_kelamin", "tinggi_badan", "berat_badan", "aktivitas_fisik", "pekerjaan"]].copy()

In [7]:
# Adding a new column for user_id using the index
user_data["user_id"] = df.index + 1

# Resetting the index of user_data
user_data = user_data.reset_index(drop=True)

In [12]:
# Reshape the food columns into rows
foods_data = pd.DataFrame()

# Iterate over the meal categories: sarapan, siang, malam, snack
for x in ["sarapan","makansiang","makanmalam","snack"] :
  temp = pd.DataFrame()
  temp = df.filter(regex=x,axis=1).copy()
  temp["user_id"] = df.index+1
  temp = temp.melt(id_vars=temp.columns[5:], 
          var_name="ranking", 
          value_name="makanan").sort_values(by=["user_id","ranking"]).reset_index(drop=True)
  temp["ranking"] = temp["ranking"].str.replace(x+"_makanan_","").astype(int)
  rate = {1:5, 2:4.8,3:4.5,4:4.2,5:4}
  temp["rating"] = temp["ranking"].map(rate)
  temp["waktu_makan"] = x
  temp.columns = temp.columns.str.removeprefix(x+"_")
  foods_data = pd.concat([foods_data,temp]).reset_index(drop=True)

In [13]:
# Merge the user_data and foods_data DataFrames
data = pd.merge(user_data, foods_data, how="inner", on="user_id").sort_values(by=["user_id","waktu_makan","ranking"]).reset_index(drop=True)

In [14]:
data = data[['user_id','usia', 'jenis_kelamin', 'tinggi_badan', 'berat_badan',
       'aktivitas_fisik', 'pekerjaan', 'waktu_makan','harga_minimal',
       'harga_maksimal', 'asin', 'manis', 'asam', 'gurih', 'pedas', 'renyah',
       'halus', 'creamy', 'kental', 'digoreng', 'direbus', 'dibakar',
       'dikukus', 'cepat_saji', 'beli', 'ranking', 'makanan','rating']]

In [15]:
data

,user_id,usia,jenis_kelamin,tinggi_badan,berat_badan,aktivitas_fisik,pekerjaan,waktu_makan,harga_minimal,harga_maksimal,...,kental,digoreng,direbus,dibakar,dikukus,cepat_saji,beli,ranking,makanan,rating
0,1,21,Perempuan,154,55,Ringan,Mahasiswa,makanmalam,10000.0,20000.0,...,4,9,7,2,3,Ya,Ya,1,63,5.0
1,1,21,Perempuan,154,55,Ringan,Mahasiswa,makanmalam,10000.0,20000.0,...,4,9,7,2,3,Ya,Ya,2,4,4.8
2,1,21,Perempuan,154,55,Ringan,Mahasiswa,makanmalam,10000.0,20000.0,...,4,9,7,2,3,Ya,Ya,3,129,4.5
3,1,21,Perempuan,154,55,Ringan,Mahasiswa,makanmalam,10000.0,20000.0,...,4,9,7,2,3,Ya,Ya,4,145,4.2
4,1,21,Perempuan,154,55,Ringan,Mahasiswa,makanmalam,10000.0,20000.0,...,4,9,7,2,3,Ya,Ya,5,135,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,60,20,Laki-laki,177,58,Sedang,Polisi,snack,5000.0,20000.0,...,5,8,6,8,8,Ya,Ya,1,5,5.0
1196,60,20,Laki-laki,177,58,Sedang,Polisi,snack,5000.0,20000.0,...,5,8,6,8,8,Ya,Ya,2,6,4.8
1197,60,20,Laki-laki,177,58,Sedang,Polisi,snack,5000.0,20000.0,...,5,8,6,8,8,Ya,Ya,3,172,4.5
1198,60,20,Laki-laki,177,58,Sedang,Polisi,snack,5000.0,20000.0,...,5,8,6,8,8,Ya,Ya,4,169,4.2
1199,60,20,Laki-laki,177,58,Sedang,Polisi,snack,5000.0,20000.0,...,5,8,6,8,8,Ya,Ya,5,160,4.0

In [18]:
unique_values = data['makanan'].unique()
print(unique_values)

[ 63   4 129 145 135  58 103  60 115  20   5   6 131  55 156  81  57  95
  42  80  91 126  40  52 120  94  34  53 160 167  59  56 111 121 102  87
 104  22   9  26  33  78 163  17  93  15  36 162  24  62  19 170  83  64
 113 123  68 110 144  32 169  23  11  18  16 118   1 132 122 125 127 107
 117   8  28 140 159 158 164 133  71 168 155  67 174 172 124 171  66 112
  12  14  43   3 152  48 116  21 119 105 106 136 143 130 161  35  37  38
 153 154  13 173 146 147 148 149 142   2  25 114  44  45  46 139 141  85
  86  89  90 157 165 166  65 109  61 134 137  96  97   7  10  50  51  30
 138  99 100 101  41  47  82  92  88 128  73  84  79  74  54  75  98 108
 181]

The makanan colum has value 181 which is not included in food_list

In [19]:
filtered_rows = data[data['makanan'] == 181]

# Print the filtered rows
filtered_rows

# Find the row index where the value '181' occurs in the 'makanan' column
row_index = data[data['makanan'] == 181].index[0]

# Update the value at the specified row and column
data.at[row_index, 'makanan'] = 56

In [20]:
unique_values = data['makanan'].unique()
print(unique_values)

[ 63   4 129 145 135  58 103  60 115  20   5   6 131  55 156  81  57  95
  42  80  91 126  40  52 120  94  34  53 160 167  59  56 111 121 102  87
 104  22   9  26  33  78 163  17  93  15  36 162  24  62  19 170  83  64
 113 123  68 110 144  32 169  23  11  18  16 118   1 132 122 125 127 107
 117   8  28 140 159 158 164 133  71 168 155  67 174 172 124 171  66 112
  12  14  43   3 152  48 116  21 119 105 106 136 143 130 161  35  37  38
 153 154  13 173 146 147 148 149 142   2  25 114  44  45  46 139 141  85
  86  89  90 157 165 166  65 109  61 134 137  96  97   7  10  50  51  30
 138  99 100 101  41  47  82  92  88 128  73  84  79  74  54  75  98 108]

In [ ]:
# # Saving transformed data to Drive
# data.to_csv("/content/drive/MyDrive/capstone/ML/data_rows.csv",index=False)

# *1.2 Handling Missing Values*

In [21]:
missing_values = data.isna().sum()
print(missing_values)

user_id            0
usia               0
jenis_kelamin      0
tinggi_badan       0
berat_badan        0
aktivitas_fisik    0
pekerjaan          0
waktu_makan        0
harga_minimal      0
harga_maksimal     0
asin               0
manis              0
asam               0
gurih              0
pedas              0
renyah             0
halus              0
creamy             0
kental             0
digoreng           0
direbus            0
dibakar            0
dikukus            0
cepat_saji         5
beli               0
ranking            0
makanan            0
rating             0
dtype: int64

In [23]:
#Filling Missing Values in cepat_saji column with most frequent value
imputer = SimpleImputer(strategy='most_frequent')
imputer.fit(data[['cepat_saji']])
data['cepat_saji'] = imputer.transform(data[['cepat_saji']])

# *1.3 Encoding*

In [25]:
data.dtypes

user_id              int64
usia                 int64
jenis_kelamin       object
tinggi_badan         int64
berat_badan          int64
aktivitas_fisik     object
pekerjaan           object
waktu_makan         object
harga_minimal      float64
harga_maksimal     float64
asin                 int64
manis                int64
asam                 int64
gurih                int64
pedas                int64
renyah               int64
halus                int64
creamy               int64
kental               int64
digoreng             int64
direbus              int64
dibakar              int64
dikukus              int64
cepat_saji          object
beli                object
ranking              int64
makanan              int64
rating             float64
dtype: object

In [26]:
categorical_columns = ['jenis_kelamin', 'aktivitas_fisik', 'pekerjaan','waktu_makan', 'cepat_saji', 'beli']
for column in categorical_columns:
    unique_values = data[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'jenis_kelamin': ['Perempuan' 'Laki-laki']
Unique values in column 'aktivitas_fisik': ['Ringan' 'Sedang' 'Berat']
Unique values in column 'pekerjaan': ['mahasiswa' 'polisi' 'guru' 'pns' 'staff' 'wirausaha' 'siswa' 'pelajar'
 'owner bisnis']
Unique values in column 'waktu_makan': ['makanmalam' 'makansiang' 'sarapan' 'snack']
Unique values in column 'cepat_saji': ['Ya' 'Tidak']
Unique values in column 'beli': ['Ya' 'Tidak']

In [27]:
## Standardizing Values in the 'pekerjaan' Column
# Convert values to lowercase
data['pekerjaan'] = data['pekerjaan'].str.lower()

# Remove leading and trailing whitespaces
data['pekerjaan'] = data['pekerjaan'].str.strip()

# Replace 'mahasiswa' and 'mahasiswa ' with 'mahasiswa'
data['pekerjaan'] = data['pekerjaan'].replace(['mahasiswa', 'mahasiswa '], 'mahasiswa')

# Mapping dictionary for replacing values
mapping_dict = {
    'pelajar': 'siswa',
    'owner bisnis': 'wirausaha',
    'guru': 'pns'
}

# Replace values in the pekerjaan column
data['pekerjaan'] = data['pekerjaan'].replace(mapping_dict)
data

,user_id,usia,jenis_kelamin,tinggi_badan,berat_badan,aktivitas_fisik,pekerjaan,waktu_makan,harga_minimal,harga_maksimal,...,kental,digoreng,direbus,dibakar,dikukus,cepat_saji,beli,ranking,makanan,rating
0,1,21,Perempuan,154,55,Ringan,mahasiswa,makanmalam,10000.0,20000.0,...,4,9,7,2,3,Ya,Ya,1,63,5.0
1,1,21,Perempuan,154,55,Ringan,mahasiswa,makanmalam,10000.0,20000.0,...,4,9,7,2,3,Ya,Ya,2,4,4.8
2,1,21,Perempuan,154,55,Ringan,mahasiswa,makanmalam,10000.0,20000.0,...,4,9,7,2,3,Ya,Ya,3,129,4.5
3,1,21,Perempuan,154,55,Ringan,mahasiswa,makanmalam,10000.0,20000.0,...,4,9,7,2,3,Ya,Ya,4,145,4.2
4,1,21,Perempuan,154,55,Ringan,mahasiswa,makanmalam,10000.0,20000.0,...,4,9,7,2,3,Ya,Ya,5,135,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,60,20,Laki-laki,177,58,Sedang,polisi,snack,5000.0,20000.0,...,5,8,6,8,8,Ya,Ya,1,5,5.0
1196,60,20,Laki-laki,177,58,Sedang,polisi,snack,5000.0,20000.0,...,5,8,6,8,8,Ya,Ya,2,6,4.8
1197,60,20,Laki-laki,177,58,Sedang,polisi,snack,5000.0,20000.0,...,5,8,6,8,8,Ya,Ya,3,172,4.5
1198,60,20,Laki-laki,177,58,Sedang,polisi,snack,5000.0,20000.0,...,5,8,6,8,8,Ya,Ya,4,169,4.2
1199,60,20,Laki-laki,177,58,Sedang,polisi,snack,5000.0,20000.0,...,5,8,6,8,8,Ya,Ya,5,160,4.0

In [28]:
print(data['pekerjaan'].unique())

['mahasiswa' 'polisi' 'pns' 'staff' 'wirausaha' 'siswa']

Based on the data we have, we can use different encoding techniques. Here are the encoding approaches for each column:
1. aktivitas_fisik, waktu_makan column (ordinal):

Label Encoding: This technique can be used to encode ordinal categories into numerical values. Assign numerical labels such as 0, 1, and 2 to the categories 'Ringan', 'Sedang', and 'Berat', respectively. So is with waktu_makan.

2. pekerjaan column (categorical):

One-Hot Encoding: Similar to the jenis_kelamin column, we use one-hot encoding to create binary columns for each category. In this case, we have columns like pekerjaan_Mahasiswa, pekerjaan_Polisi, pekerjaan_Guru, etc.


3. jenis_kelamin, cepat_saji and beli columns (binary):

Binary Encoding: Since these columns have binary values, we directly encode them using binary encoding. The 'Ya' value can be encoded as 1, and 'Tidak' can be encoded as 0. So is, 'Perempuan' as 0 and "Laki-laki" as 1 in jenis_kelamin columnn

In [29]:
# Define columns for one-hot encoding
one_hot_columns = ['pekerjaan']

# Perform one-hot encoding for specified columns
data = pd.get_dummies(data, columns=one_hot_columns, prefix=one_hot_columns)

# Label Encoding for 'aktivitas_fisik' and 'waktu_makan' columns
# label_encoder = LabelEncoder()
# data['aktivitas_fisik'] = label_encoder.fit_transform(data['aktivitas_fisik'])
# data['waktu_makan'] = label_encoder.fit_transform(data['waktu_makan'])
waktu_makan_mapping = {'sarapan': 0, 'makansiang': 1, 'makanmalam': 2, 'snack': 3}
aktivitas_fisik_mapping = {'Ringan': 0, 'Sedang': 1, 'Berat': 2}
# Apply mapping for encoding 'waktu_makan' column
data['waktu_makan'] = data['waktu_makan'].map(waktu_makan_mapping)
# Apply mapping for encoding 'aktivitas_fisik' column
data['aktivitas_fisik'] = data['aktivitas_fisik'].map(aktivitas_fisik_mapping)

# Map values for 'cepat_saji' and 'beli' columns
binary_encoding_mapping = {'Ya': 1, 'Tidak': 0, 'Perempuan': 0, 'Laki-laki': 1}
data['cepat_saji'] = data['cepat_saji'].map(binary_encoding_mapping)
data['beli'] = data['beli'].map(binary_encoding_mapping)
data['jenis_kelamin'] = data['jenis_kelamin'].map(binary_encoding_mapping)

In [30]:
data.columns

Index(['user_id', 'usia', 'jenis_kelamin', 'tinggi_badan', 'berat_badan',
       'aktivitas_fisik', 'waktu_makan', 'harga_minimal', 'harga_maksimal',
       'asin', 'manis', 'asam', 'gurih', 'pedas', 'renyah', 'halus', 'creamy',
       'kental', 'digoreng', 'direbus', 'dibakar', 'dikukus', 'cepat_saji',
       'beli', 'ranking', 'makanan', 'rating', 'pekerjaan_mahasiswa',
       'pekerjaan_pns', 'pekerjaan_polisi', 'pekerjaan_siswa',
       'pekerjaan_staff', 'pekerjaan_wirausaha'],
      dtype='object')

In [32]:
data = data[['user_id', 'usia', 'jenis_kelamin',
               'tinggi_badan', 'berat_badan', 'aktivitas_fisik',
               'pekerjaan_mahasiswa', 'pekerjaan_pns', 'pekerjaan_polisi','pekerjaan_siswa',
               'pekerjaan_staff', 'pekerjaan_wirausaha', 'waktu_makan','harga_minimal',
               'harga_maksimal', 'asin', 'manis', 'asam', 'gurih', 'pedas', 'renyah',
               'halus', 'creamy', 'kental', 'digoreng', 'direbus', 'dibakar',
               'dikukus', 'cepat_saji', 'beli','ranking','makanan','rating']]

data.head()

,user_id,usia,jenis_kelamin,tinggi_badan,berat_badan,aktivitas_fisik,pekerjaan_mahasiswa,pekerjaan_pns,pekerjaan_polisi,pekerjaan_siswa,...,kental,digoreng,direbus,dibakar,dikukus,cepat_saji,beli,ranking,makanan,rating
0,1,21,0,154,55,0,1,0,0,0,...,4,9,7,2,3,1,1,1,63,5.0
1,1,21,0,154,55,0,1,0,0,0,...,4,9,7,2,3,1,1,2,4,4.8
2,1,21,0,154,55,0,1,0,0,0,...,4,9,7,2,3,1,1,3,129,4.5
3,1,21,0,154,55,0,1,0,0,0,...,4,9,7,2,3,1,1,4,145,4.2
4,1,21,0,154,55,0,1,0,0,0,...,4,9,7,2,3,1,1,5,135,4.0

In [33]:
print(data.dtypes)

user_id                  int64
usia                     int64
jenis_kelamin            int64
tinggi_badan             int64
berat_badan              int64
aktivitas_fisik          int64
pekerjaan_mahasiswa      uint8
pekerjaan_pns            uint8
pekerjaan_polisi         uint8
pekerjaan_siswa          uint8
pekerjaan_staff          uint8
pekerjaan_wirausaha      uint8
waktu_makan              int64
harga_minimal          float64
harga_maksimal         float64
asin                     int64
manis                    int64
asam                     int64
gurih                    int64
pedas                    int64
renyah                   int64
halus                    int64
creamy                   int64
kental                   int64
digoreng                 int64
direbus                  int64
dibakar                  int64
dikukus                  int64
cepat_saji               int64
beli                     int64
ranking                  int64
makanan                  int64
rating                 float64
dtype: object

# *1.4 Normalizing Columns*

In order to standardize the scale of specific columns in our dataset, we will perform min-max normalization. This technique rescales the values of the selected columns to a range between 0 and 1.

By applying min-max normalization, we can ensure that the values in these columns are on a standardized scale, which can be useful for various data analysis and modeling tasks.

In [34]:
# Create a MinMaxScaler object
scaler = MinMaxScaler()

# Get the column names 
columns_to_normalize = ['harga_minimal', 'harga_maksimal', 'tinggi_badan', 'berat_badan','asin', 'manis', 'asam', 'gurih', 'pedas', 'renyah',
               'halus', 'creamy', 'kental', 'digoreng', 'direbus', 'dibakar',
               'dikukus' ]

# Fit and transform the selected columns
data[columns_to_normalize] = scaler.fit_transform(data[columns_to_normalize])

In [35]:
data.tail(40)

,user_id,usia,jenis_kelamin,tinggi_badan,berat_badan,aktivitas_fisik,pekerjaan_mahasiswa,pekerjaan_pns,pekerjaan_polisi,pekerjaan_siswa,...,kental,digoreng,direbus,dibakar,dikukus,cepat_saji,beli,ranking,makanan,rating
1160,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.444444,0.444444,0.444444,0.444444,0.444444,1,1,1,12,5.0
1161,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.444444,0.444444,0.444444,0.444444,0.444444,1,1,2,17,4.8
1162,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.444444,0.444444,0.444444,0.444444,0.444444,1,1,3,44,4.5
1163,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.444444,0.444444,0.444444,0.444444,0.444444,1,1,4,145,4.2
1164,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.444444,0.444444,0.444444,0.444444,0.444444,1,1,5,99,4.0
1165,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.444444,0.444444,0.444444,0.444444,0.444444,1,1,1,1,5.0
1166,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.444444,0.444444,0.444444,0.444444,0.444444,1,1,2,2,4.8
1167,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.444444,0.444444,0.444444,0.444444,0.444444,1,1,3,3,4.5
1168,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.444444,0.444444,0.444444,0.444444,0.444444,1,1,4,4,4.2
1169,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.444444,0.444444,0.444444,0.444444,0.444444,1,1,5,5,4.0
1170,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.222222,0.444444,0.444444,0.444444,0.444444,0,1,1,121,5.0
1171,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.222222,0.444444,0.444444,0.444444,0.444444,0,1,2,36,4.8
1172,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.222222,0.444444,0.444444,0.444444,0.444444,0,1,3,166,4.5
1173,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.222222,0.444444,0.444444,0.444444,0.444444,0,1,4,115,4.2
1174,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.222222,0.444444,0.444444,0.444444,0.444444,0,1,5,4,4.0
1175,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.444444,0.444444,0.444444,0.444444,0.444444,1,1,1,1,5.0
1176,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.444444,0.444444,0.444444,0.444444,0.444444,1,1,2,2,4.8
1177,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.444444,0.444444,0.444444,0.444444,0.444444,1,1,3,3,4.5
1178,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.444444,0.444444,0.444444,0.444444,0.444444,1,1,4,4,4.2
1179,59,23,1,0.684211,0.846154,1,0,0,0,0,...,0.444444,0.444444,0.444444,0.444444,0.444444,1,1,5,5,4.0
1180,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.111111,0.666667,0.222222,0.888889,0.444444,1,1,1,147,5.0
1181,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.111111,0.666667,0.222222,0.888889,0.444444,1,1,2,106,4.8
1182,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.111111,0.666667,0.222222,0.888889,0.444444,1,1,3,56,4.5
1183,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.111111,0.666667,0.222222,0.888889,0.444444,1,1,4,95,4.2
1184,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.111111,0.666667,0.222222,0.888889,0.444444,1,1,5,81,4.0
1185,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.333333,0.666667,0.111111,0.777778,0.222222,1,1,1,62,5.0
1186,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.333333,0.666667,0.111111,0.777778,0.222222,1,1,2,83,4.8
1187,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.333333,0.666667,0.111111,0.777778,0.222222,1,1,3,113,4.5
1188,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.333333,0.666667,0.111111,0.777778,0.222222,1,1,4,71,4.2
1189,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.333333,0.666667,0.111111,0.777778,0.222222,1,1,5,63,4.0
1190,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.333333,0.777778,0.666667,0.111111,0.000000,1,1,1,115,5.0
1191,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.333333,0.777778,0.666667,0.111111,0.000000,1,1,2,163,4.8
1192,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.333333,0.777778,0.666667,0.111111,0.000000,1,1,3,135,4.5
1193,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.333333,0.777778,0.666667,0.111111,0.000000,1,1,4,103,4.2
1194,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.333333,0.777778,0.666667,0.111111,0.000000,1,1,5,126,4.0
1195,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.444444,0.777778,0.555556,0.777778,0.777778,1,1,1,5,5.0
1196,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.444444,0.777778,0.555556,0.777778,0.777778,1,1,2,6,4.8
1197,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.444444,0.777778,0.555556,0.777778,0.777778,1,1,3,172,4.5
1198,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.444444,0.777778,0.555556,0.777778,0.777778,1,1,4,169,4.2
1199,60,20,1,0.921053,0.423077,1,0,0,1,0,...,0.444444,0.777778,0.555556,0.777778,0.777778,1,1,5,160,4.0

In [36]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
user_id,1200.0,30.500000,17.325323,1.0,15.750000,30.500000,45.250000,60.0
usia,1200.0,23.633333,7.753428,15.0,19.750000,20.500000,25.250000,50.0
jenis_kelamin,1200.0,0.533333,0.499096,0.0,0.000000,1.000000,1.000000,1.0
tinggi_badan,1200.0,0.543421,0.268302,0.0,0.342105,0.539474,0.736842,1.0
berat_badan,1200.0,0.278526,0.202556,0.0,0.076923,0.269231,0.365385,1.0
aktivitas_fisik,1200.0,0.416667,0.525946,0.0,0.000000,0.000000,1.000000,2.0
pekerjaan_mahasiswa,1200.0,0.633333,0.482095,0.0,0.000000,1.000000,1.000000,1.0
pekerjaan_pns,1200.0,0.166667,0.372833,0.0,0.000000,0.000000,0.000000,1.0
pekerjaan_polisi,1200.0,0.033333,0.179580,0.0,0.000000,0.000000,0.000000,1.0
pekerjaan_siswa,1200.0,0.066667,0.249548,0.0,0.000000,0.000000,0.000000,1.0
pekerjaan_staff,1200.0,0.016667,0.128072,0.0,0.000000,0.000000,0.000000,1.0
pekerjaan_wirausaha,1200.0,0.083333,0.276501,0.0,0.000000,0.000000,0.000000,1.0
waktu_makan,1200.0,1.500000,1.118500,0.0,0.750000,1.500000,2.250000,3.0
harga_minimal,1200.0,0.075328,0.098028,0.0,0.066604,0.066604,0.066604,1.0
harga_maksimal,1200.0,0.078551,0.077885,0.0,0.049937,0.066604,0.083272,1.0
asin,1200.0,0.646296,0.317491,0.0,0.444444,0.777778,0.888889,1.0
manis,1200.0,0.705093,0.249413,0.0,0.555556,0.777778,0.888889,1.0
asam,1200.0,0.559259,0.336831,0.0,0.222222,0.666667,0.888889,1.0
gurih,1200.0,0.745370,0.252622,0.0,0.666667,0.777778,0.888889,1.0
pedas,1200.0,0.709722,0.303313,0.0,0.555556,0.777778,0.888889,1.0
renyah,1200.0,0.767593,0.225532,0.0,0.666667,0.777778,0.888889,1.0
halus,1200.0,0.648611,0.314455,0.0,0.444444,0.666667,0.888889,1.0
creamy,1200.0,0.614352,0.332993,0.0,0.333333,0.666667,0.888889,1.0
kental,1200.0,0.587963,0.340015,0.0,0.333333,0.666667,0.888889,1.0
digoreng,1200.0,0.770833,0.228489,0.0,0.666667,0.833333,0.888889,1.0
direbus,1200.0,0.664352,0.294348,0.0,0.444444,0.777778,0.888889,1.0
dibakar,1200.0,0.686574,0.309391,0.0,0.555556,0.777778,0.888889,1.0
dikukus,1200.0,0.650463,0.327073,0.0,0.444444,0.666667,1.000000,1.0
cepat_saji,1200.0,0.458333,0.498469,0.0,0.000000,0.000000,1.000000,1.0
beli,1200.0,0.483333,0.499930,0.0,0.000000,0.000000,1.000000,1.0
ranking,1200.0,3.000000,1.414803,1.0,2.000000,3.000000,4.000000,5.0
makanan,1200.0,86.832500,55.390398,1.0,25.000000,93.000000,135.000000,174.0
rating,1200.0,4.500000,0.368936,4.0,4.200000,4.500000,4.800000,5.0

In [37]:
#Saving transformed, encoded and normalized data to Drive
data.to_csv("/content/drive/MyDrive/capstone/ML/users_final.csv",index=False)